<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.prototype.nano.model.perspective.NanoPerspective"
            id="org.dawnsci.prototype.nano.model.perspective.NanoPerspective"
            name="Data">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="org.dawnsci.prototype.nano.model.ui.LoadedFilePart"
            id="org.dawnsci.prototype.nano.model.ui.LoadedFilePart"
            name="Data Files"
            restorable="true">
      </e4view>
      <e4view
            class="org.dawnsci.prototype.nano.model.ui.DatasetPart"
            id="org.dawnsci.prototype.nano.model.ui.DatasetPart"
            name="Datasets"
            restorable="true">
      </e4view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            id="org.dawnsci.prototype.nano.model.Plot"
            name="Plot"
            restorable="true">
      </view>
   </extension>

</plugin>
